<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>hello页面</title>
    <link rel=stylesheet href="/css/hello.css" />
</head>
<body>
    <img class="logo" width="300" src="/img/logo.png" />
    <h1>一个前端爱用的后端框架</h1>
    <p>一个十分具有表现力的 NODE HTTP 中间件框架.</p>
    <div class="regOrsign clr">
        <div class="reg">
            <h2>注册：</h2>
            <form action="/reg" method="post">
                <p>　　Name: <input name="name" value=""></p>
                <p>Password: <input name="password" type="password"></p>
                <p><input type="submit" value="Submit"></p>
            </form>
        </div>
        <div class="sign">
            <h2>登录：</h2>
            <form action="/signin" method="post">
                <p>　　Name: <input name="name" value=""></p>
                <p>Password: <input name="password" type="password"></p>
                <p><input type="submit" value="Submit"></p>
            </form>
        </div>
    </div>
    现在有的用户列表：
    <div style="text-align: center;">
        <table cellpadding="0" cellspacing="0" class="userTable">
            <tr>
                <td>序号</td>
                <td>用户名</td>
                <td>密码</td>
            </tr>
            {% for users in userInfo %}
            <tr>
                <td>{{users.id}}</td>
                <td>{{users.name}}</td>
                <td>{{users.password}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>